<!doctype html>
<html>
  <head>
    {% include head.html %}
    {% include google.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Blog</h1>
        <p class="view"><a href="{{ site.github.url }}">Home</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        <p class="view"><a href="{{ site.github.url }}/blog">View All My Post</a></p>
        <p class="view"><a href="{{ site.github.url }}/about">About</a></p>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    {% include foot.html %}
  </body>
</html>
